<mat-card>
    <mat-card-title>All companies</mat-card-title>
    <mat-card-content>
        <mat-accordion>
            <mat-expansion-panel hideToggle *ngFor="let company of companies" (opened)="panelOpenState = true"
                (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <b>UUID:&nbsp;</b> {{company.companyIdentifier}}
                    </mat-panel-title>
                    <mat-panel-description>
                        <b>Name:&nbsp;</b>  {{company.name}}
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <button mat-raised-button
                    type="button" (click)="removeCompany(company.companyIdentifier)">Remove company</button>
            </mat-expansion-panel>
        </mat-accordion>
    </mat-card-content>
</mat-card>