<mat-accordion *ngIf="purchaseOrder">
    <mat-expansion-panel *ngFor="let item of purchaseOrder.items">
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{item.description}}

            </mat-panel-title>
            <mat-panel-description>
                Price:
                <b><span matPrefix>$&nbsp;</span>{{item.price}}</b>

            </mat-panel-description>
            <mat-panel-description>
                x
                <b>{{item.quantity}}</b>

            </mat-panel-description>
        </mat-expansion-panel-header>

        <button [disabled]="purchaseOrder.orderStatus !== 'CREATED'" mat-button type="button" (click)="removeOrderItem(item)">Remove</button>
    </mat-expansion-panel>

    <button [disabled]="purchaseOrder.orderStatus !== 'CREATED'" mat-button type="button" (click)="addOrderItem()">Add more items</button>


    <mat-card>
        <button [disabled]="purchaseOrder.orderStatus !== 'CREATED'" mat-button type="button" (click)="saveOrder()">Send order</button>
    </mat-card>

</mat-accordion>

<!-- <mat-error *ngIf="responseError!=null">
    <mat-card-header>
        <p>
            {{responseError}}
        </p>
    </mat-card-header>
  </mat-error>
   -->

