.custom-table-row:hover {
    cursor: pointer;
    background-color: rgb(31, 156, 12);
}

mat-card-title {
    font-size: 24px; 
    font-weight: bold; 
    
    text-align: center; /* Center-align the text */
    padding: 16px 5px; /* Add padding to the top and bottom */
  }