<mat-expansion-panel hideToggle
    *ngIf="userRoles != undefined && (userRoles.includes('BUYER_CUSTOMER') || userRoles.includes('SUPPLIER_ACCOUNTING') || userRoles.includes('SUPPLIER_MANAGEMENT'))">
    <mat-expansion-panel-header>
        <mat-panel-title>
            Purchase Orders
        </mat-panel-title>
    </mat-expansion-panel-header>

    <div class="button-list">
        <button *ngIf="userRoles != undefined && (userRoles.includes('BUYER_CUSTOMER'))" mat-raised-button
            routerLink="/purchase-order">Create</button>
        <button mat-raised-button routerLink="/purchase-orders">View</button>
    </div>
</mat-expansion-panel>

<mat-expansion-panel hideToggle
    *ngIf="userRoles != undefined && (userRoles.includes('BUYER_FINANCE') || userRoles.includes('SUPPLIER_ACCOUNTING'))">
    <mat-expansion-panel-header>
        <mat-panel-title>
            Invoices
        </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="button-list">
        <button *ngIf="userRoles != undefined && (userRoles.includes('SUPPLIER_ACCOUNTING'))" mat-raised-button
            routerLink="/invoices/create">Create</button>
        <button mat-raised-button routerLink="/invoices/view">View</button>
    </div>
</mat-expansion-panel>

<!-- <button mat-raised-button *ngIf="userRoles != undefined && (userRoles.includes('ADMIN'))" mat-raised-button
    routerLink="/register">Register new user
</button> -->
<!-- <button mat-raised-button *ngIf="userRoles != undefined && (userRoles.includes('ADMIN'))" mat-raised-button
    routerLink="/users">View all users
</button> -->
<div class="button-list" *ngIf="userRoles != undefined && (userRoles.includes('ADMIN'))">
    <button mat-raised-button
        routerLink="/register">Register new user
    </button>
    <button mat-raised-button
        routerLink="/users">View all users
    </button>
</div>
