

<mat-card>
  <mat-card-title>Hi, {{data.order.buyer.name}}</mat-card-title>
  <mat-card-content>

    <form [formGroup]="orderForm" (ngSubmit)="onSubmit()">
      <mat-card mat-dialog-content>
        <mat-form-field>
          <mat-label>Item</mat-label>
          <mat-select formControlName="item">
            <mat-option *ngFor="let item of availableItems" [value]="item">{{item.description}}:
              <span matPrefix>$&nbsp;</span>{{item.price}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Quantity</mat-label>
          <input formControlName="quantity" matInput type="number" placeholder="Item quantity" min="1" max="10">
        </mat-form-field>
      </mat-card>
      <div mat-dialog-actions>
        <button mat-raised-button color="primary" type="button" mat-button (click)="onClose()">Close</button>
        <button mat-raised-button color="primary" type="button" mat-button (click)="onSubmit()" cdkFocusInitial>Add</button>
        <!-- <button mat-button [mat-dialog-close]="data" (click)="onSubmit()" cdkFocusInitial>Add</button> -->
      </div>

      <mat-error *ngIf="inputError==true">
        <p>
          Please introduce all required fields.
        </p>
   
    </mat-error>
    </form>
    

  </mat-card-content>
</mat-card>