:host {
  display: flex;
  justify-content: center;
  margin: 100px 0px;
}

.mat-form-field {
  width: 100%;
  min-width: 300px;
}

mat-card {
  width: 500px;
}

mat-card-content > form {
  justify-content: center;
  width: 100%;
}

mat-card-content > form > p {
  width: 100%;
  justify-content: center;
  align-items: center;
}

p > mat-form-field{
  width: 93%;
}


mat-card-title,
mat-card-content {
  display: flex;
  justify-content: center;
  width: 100%;
}

.error {
  padding: 16px;
  width: 300px;
  color: white;
  background-color: red;
}

.button {
  display: flex;
  justify-content: flex-end;
}

mat-progress-bar {
  width: 90%;
}