<mat-card fxLayoutAlign="center">
    <mat-card-title>
        Create purchase order
    </mat-card-title>

    <mat-card-content>
        <form [formGroup]="orderForm" (ngSubmit)="onSubmit()">
            <mat-form-field>
                <mat-label>Buyer</mat-label>
                <mat-select formControlName="buyer" aria-required="true">
                    <mat-option [value]="buyerCompany?.companyIdentifier">{{buyerCompany?.name}}</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Seller</mat-label>
                <mat-select formControlName="seller">
                    <mat-option *ngFor="let company of companies"
                        [value]="company.companyIdentifier">{{company.name}}</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-card>

                <mat-form-field>
                    <mat-label>Item</mat-label>
                    <mat-select formControlName="item">
                        <mat-option *ngFor="let item of items" [value]="item">{{item.description}}:
                            <span matPrefix>$&nbsp;</span>{{item.price}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Quantity</mat-label>
                    <input formControlName="quantity" matInput type="number" placeholder="Item quantity" min="1"
                        max="10">
                </mat-form-field>
            </mat-card>

            <mat-card>
                <mat-label>File</mat-label>
                <input type="file" class="file-input" (change)="onFileSelected($event)" required accept=".pdf">
            </mat-card>

            <div class="button">
                <button type="submit" mat-raised-button color="primary">Create</button>
            </div>

            <div class="error-container" *ngIf="error==true">
                <p>
                    Please introduce all required fields.
                </p>
            </div>
        </form>
    </mat-card-content>
</mat-card>
