
mat-card-title {
    font-size: 24px; 
    font-weight: bold; 
    
    text-align: center; /* Center-align the text */
    padding: 16px 5px; /* Add padding to the top and bottom */
  }

  .button {
    display: flex;
    margin-top: 16px;
    margin-bottom: 16px;
  }