<div>
  <mat-toolbar color="primary">
    <div fxShow="true" fxHide.gt-sm="true">
      <button mat-icon-button [matMenuTriggerFor]="menu" #matMenuTrigger="matMenuTrigger"
        (click)="matMenuTrigger.openMenu();">
        <mat-icon>menu</mat-icon>
      </button>
    </div>

    <a mat-button class="companyName" routerLink="/">
      <span>AP automation</span>
    </a>

  </mat-toolbar>
  <mat-menu #menu="matMenu">
    <button mat-menu-item [matMenuTriggerFor]="purchaseOrders">Purchase Order</button>
    <button mat-menu-item [matMenuTriggerFor]="invoices">Invoices</button>
  </mat-menu>

    <mat-menu #purchaseOrders="matMenu">
        <button mat-menu-item routerLink="/new-purchase-order">Create</button>
        <button mat-menu-item routerLink="/purchase-order">View</button>
    </mat-menu>
  </div>

  <mat-menu #purchaseOrders="matMenu">
    <button mat-menu-item routerLink="/purchase-order">Create</button>
    <button mat-menu-item>View</button>
  </mat-menu>
  <mat-menu #invoices="matMenu">
    <button mat-menu-item routerLink="/invoices/create">Create</button>
    <button mat-menu-item routerLink="/invoices/view">View</button>
  </mat-menu>
</div>
