<div>
  <mat-toolbar color="primary">
    <div fxShow="true" fxHide.gt-sm="true">
      <button *ngIf="isLoggedIn" mat-icon-button
        (click)="sidenav.toggle();">
        <mat-icon>menu</mat-icon>
      </button>
    </div>

    <a class="companyName">
      <span>AP automation</span>
    </a>
    <span class="example-spacer"></span>
    <span>{{username}}</span>
    <button *ngIf="isLoggedIn" mat-icon-button (click)="logout()">
      <mat-icon>exit_to_app</mat-icon>
    </button>
  </mat-toolbar>
</div>