<h1>Invoices</h1>
<table mat-table [dataSource]="invoiceDDOList">

  <ng-container matColumnDef="idColumn">
    <th mat-header-cell *matHeaderCellDef> Identifier </th>
    <td mat-cell *matCellDef="let invoiceDDO"> {{invoiceDDO.identifier}} </td>
  </ng-container>

  <ng-container matColumnDef="buyerColumn">
    <th mat-header-cell *matHeaderCellDef> Buyer </th>
    <td mat-cell *matCellDef="let invoiceDDO"> {{invoiceDDO.buyerName}} </td>
  </ng-container>

  <ng-container matColumnDef="sellerColumn">
    <th mat-header-cell *matHeaderCellDef> Seller </th>
    <td mat-cell *matCellDef="let invoiceDDO"> {{invoiceDDO.sellerName}} </td>
  </ng-container>

  <ng-container matColumnDef="moreDetailsColumn">
    <th mat-header-cell *matHeaderCellDef> More Details </th>
    <td mat-cell *matCellDef="let invoiceDDO">
     <button mat-button (click)="emitInvoiceCommand(invoiceDDO.identifier,'display');openInvoiceDialog()">Show</button>
    </td>
  </ng-container>

  <ng-container matColumnDef="deleteColumn">
    <th mat-header-cell *matHeaderCellDef> </th>
    <td mat-cell *matCellDef="let invoiceDDO">
     <button mat-button (click)="emitInvoiceCommand(invoiceDDO.identifier,'delete')">Delete</button>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>